.readme {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}
.readme table td:only-child {
    display: none;
}
.readme h1 {
    display: none;
}
.readme a {
  background: transparent;
}
.readme a:active,
.readme a:hover {
  outline: 0;
}
.readme strong {
  font-weight: bold;
}
.readme h1 {
  text-align: left;
  font-size: 2em;
  margin: 0.67em 0;
}
.readme img {
  border: 0;
}
.readme hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.readme pre {
  overflow: auto;
}
.readme code,
.readme kbd,
.readme pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.readme input {
  color: inherit;
  font: inherit;
  margin: 0;
}
.readme html input[disabled] {
  cursor: default;
}
.readme input {
  line-height: normal;
}
.readme input[type="checkbox"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.readme table {
  border-collapse: collapse;
  border-spacing: 0;
}
.readme td,
.readme th {
  padding: 0;
}
.readme * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.readme input {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.readme a {
  color: #4183c4;
  text-decoration: none;
}
.readme a:hover,
.readme a:focus,
.readme a:active {
  text-decoration: underline;
}
.readme hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.readme hr:before {
  display: table;
  content: "";
}
.readme hr:after {
  display: table;
  clear: both;
  content: "";
}
.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
  margin-bottom: 15px;
  line-height: 1.1;
}
.readme h1 {
  font-size: 30px;
}
.readme h2 {
  font-size: 21px;
}
.readme h3 {
  font-size: 16px;
}
.readme h4 {
  font-size: 14px;
}
.readme h5 {
  font-size: 12px;
}
.readme h6 {
  font-size: 11px;
}
.readme blockquote {
  margin: 0;
}
.readme ul,
.readme ol {
  margin-top: 0;
  margin-bottom: 0;
}
.readme dd {
  margin-left: 0;
}
.readme code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.readme pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.readme kbd {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  color: #000;
  padding: 3px 5px;
  line-height: 10px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  display: inline-block;
}
.readme > *:first-child {
  margin-top: 0 !important;
}
.readme .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
.readme .anchor:focus {
  outline: none;
}
.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
  position: relative;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.readme h1 .octicon-link,
.readme h2 .octicon-link,
.readme h3 .octicon-link,
.readme h4 .octicon-link,
.readme h5 .octicon-link,
.readme h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}
.readme h1:hover .anchor,
.readme h2:hover .anchor,
.readme h3:hover .anchor,
.readme h4:hover .anchor,
.readme h5:hover .anchor,
.readme h6:hover .anchor {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}
.readme h1:hover .anchor .octicon-link,
.readme h2:hover .anchor .octicon-link,
.readme h3:hover .anchor .octicon-link,
.readme h4:hover .anchor .octicon-link,
.readme h5:hover .anchor .octicon-link,
.readme h6:hover .anchor .octicon-link {
  display: inline-block;
}
.readme h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.readme h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.readme h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.readme h4 {
  font-size: 1.25em;
}
.readme h5 {
  font-size: 1em;
}
.readme h6 {
  font-size: 1em;
  color: #777;
}
.readme p,
.readme blockquote,
.readme ul,
.readme ol,
.readme dl,
.readme table,
.readme pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.readme hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.readme ul ul,
.readme ol ul,
.readme ul ol,
.readme ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.readme li > p {
  margin-top: 16px;
}
.readme dl {
  padding: 0;
}
.readme dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.readme dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.readme blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.readme blockquote > :first-child {
  margin-top: 0;
}
.readme blockquote > :last-child {
  margin-bottom: 0;
}
.readme table {
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.readme table th {
  text-align: left;
  font-weight: bold;
}
.readme table th,
.readme table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.readme table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.readme table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.readme img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.readme code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
.readme code:before,
.readme code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.readme pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  word-wrap: normal;
}
.readme pre > code {
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.readme pre > code:before,
.readme pre > code:after {
  content: normal;
}
.readme .highlight {
  margin-bottom: 16px;
  background: #fff;
}
.readme .highlight pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 0;
  word-break: normal;
}
.readme .highlight .mf,
.readme .highlight .mh,
.readme .highlight .mi,
.readme .highlight .mo,
.readme .highlight .il,
.readme .highlight .m {
  color: #945277;
}
.readme .highlight .s,
.readme .highlight .sb,
.readme .highlight .sc,
.readme .highlight .sd,
.readme .highlight .s2,
.readme .highlight .se,
.readme .highlight .sh,
.readme .highlight .si,
.readme .highlight .sx,
.readme .highlight .s1 {
  color: #df5000;
}
.readme .highlight .kc,
.readme .highlight .kd,
.readme .highlight .kn,
.readme .highlight .kp,
.readme .highlight .kr,
.readme .highlight .kt,
.readme .highlight .k,
.readme .highlight .o {
  font-weight: bold;
}
.readme .highlight .kt {
  color: #458;
}
.readme .highlight .c,
.readme .highlight .cm,
.readme .highlight .c1 {
  color: #998;
  font-style: italic;
}
.readme .highlight .cp,
.readme .highlight .cs {
  color: #999;
  font-weight: bold;
}
.readme .highlight .cs {
  font-style: italic;
}
.readme .highlight .n {
  color: #333;
}
.readme .highlight .na,
.readme .highlight .nv,
.readme .highlight .vc,
.readme .highlight .vg,
.readme .highlight .vi {
  color: #008080;
}
.readme .highlight .nb {
  color: #0086B3;
}
.readme .highlight .nc {
  color: #458;
  font-weight: bold;
}
.readme .highlight .no {
  color: #094e99;
}
.readme .highlight .ni {
  color: #800080;
}
.readme .highlight .ne {
  color: #990000;
  font-weight: bold;
}
.readme .highlight .nf {
  color: #945277;
  font-weight: bold;
}
.readme .highlight .nn {
  color: #555;
}
.readme .highlight .nt {
  color: #000080;
}
.readme .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.readme .highlight .gd {
  color: #000;
  background-color: #fdd;
}
.readme .highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.readme .highlight .ge {
  font-style: italic;
}
.readme .highlight .gr {
  color: #aa0000;
}
.readme .highlight .gh {
  color: #999;
}
.readme .highlight .gi {
  color: #000;
  background-color: #dfd;
}
.readme .highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.readme .highlight .go {
  color: #888;
}
.readme .highlight .gp {
  color: #555;
}
.readme .highlight .gs {
  font-weight: bold;
}
.readme .highlight .gu {
  color: #800080;
  font-weight: bold;
}
.readme .highlight .gt {
  color: #aa0000;
}
.readme .highlight .ow {
  font-weight: bold;
}
.readme .highlight .w {
  color: #bbb;
}
.readme .highlight .sr {
  color: #017936;
}
.readme .highlight .ss {
  color: #8b467f;
}
.readme .highlight .bp {
  color: #999;
}
.readme .highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}
.readme .octicon {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.readme .octicon-link:before {
  content: '\f05c';
}
.readme .task-list-item {
  list-style-type: none;
}
.readme .task-list-item + .task-list-item {
  margin-top: 3px;
}
.readme .task-list-item input {
  float: left;
  margin: 0.3em 0 0.25em -1.6em;
  vertical-align: middle;
}
